#!/bin/bash

set -xe

# Download Nomad executable zip
wget https://releases.hashicorp.com/nomad/1.1.1/nomad_1.1.1_linux_amd64.zip

# Install unzip
sudo apt install unzip

# Unzip 
unzip nomad_1.1.1_linux_amd64.zip

# Make binary executable
chmod +x nomad

# Copy binary to /usr/bin
sudo cp nomad /usr/bin 

sudo mkdir /opt/nomad
mkdir /home/ubuntu/nomad

CLIENT=("# Increase log verbosity"  "log_level = \"DEBUG\"" "# Setup data dir" "data_dir = \"/opt/nomad\"")
CLIENT+=("name = \"nomad-client-1\"" "client {" "  enabled = true" "  servers = [\"${server_ip}:4647\"]" "}")

for t in $${!CLIENT[@]}; do
  echo "$${CLIENT[$t]}" >> /home/ubuntu/nomad/client.hcl
done
chown -R ubuntu:ubuntu /home/ubuntu/nomad/

# Start the nomad dev server
nomad agent -config=/home/ubuntu/nomad/client.hcl 
# Start the nomad dev server
sudo nomad agent -dev

# Remove docker related packages if present
sudo apt-get remove -y docker docker-engine docker.io containerd runc
sudo apt-get update
sudo apt-get install -y \
    apt-transport-https \
    ca-certificates \
    curl \
    gnupg \
    lsb-release

curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg

echo \
  "deb [arch=amd64 signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu \
  $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null

sudo apt-get update
sudo apt-get install -y docker-ce docker-ce-cli containerd.io
