#!/bin/bash

set -e

# Download Nomad executable zip
wget https://releases.hashicorp.com/nomad/1.1.1/nomad_1.1.1_linux_amd64.zip

# Install unzip
sudo apt install unzip

# Unzip 
unzip nomad_1.1.1_linux_amd64.zip

# Make binary executable
chmod +x nomad

# Copy binary to /usr/bin
sudo cp nomad /usr/bin 

# Start the nomad dev server
sudo nomad agent -dev

# Remove docker related packages if present
sudo apt-get remove -y docker docker-engine docker.io containerd runc
sudo apt-get update
sudo apt-get install -y \
    apt-transport-https \
    ca-certificates \
    curl \
    gnupg \
    lsb-release

curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg

echo \
  "deb [arch=amd64 signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu \
  $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null

sudo apt-get update
sudo apt-get install -y docker-ce docker-ce-cli containerd.io
